<section class="w-full py-16 px-6 md:px-16 bg-[var(--bg-secondary-color)]">
  <div
    class="max-w-[1400px] mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center"
  >
    <!-- Image (alternated — image left on desktop) -->
    <div
      class="w-full h-64 md:h-80 rounded-[4px] overflow-hidden shadow-lg order-2 md:order-1 border-[1px] border-[var(--primary-color)]"
    >
      <img
        [src]="imageUrl"
        alt="Sobre Nosotros Samawé"
        class="w-full h-full object-cover"
      />
    </div>
    <!-- Text -->
    <div class="flex flex-col gap-4 order-1 md:order-2">
      <app-section-header
        variant="left"
        label="Quiénes somos"
        [title]="org?.aboutUsTitle ?? ''"
        [description]="org?.aboutUsDescription"
      />

      <div>
        <app-button-landing
          label="Conocer más"
          variant="transparent"
          (clicked)="navigate()"
        ></app-button-landing>
      </div>
    </div>
  </div>
</section>
