<article
  class="h-[90%] w-[70%] flex content-between justify-center items-center border border-black rounded-2xl mx-auto"
>
  <section class="h-full w-full flex flex-col text-center px-5 py-10">
    <div class="flex flex-col">
      <span class="font-extrabold text-xl">Iniciar Sesión</span>
      <span class="font-medium text-sm"
        >Ingresa tus datos para Iniciar Sesión</span
      >
    </div>
    <form
      [formGroup]="form"
      class="flex flex-col w-full items-center mt-2.5 gap-1.5"
    >
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-error *ngIf="form.get('username')?.hasError('required')"
          >Nombre de usuario requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input
          [type]="!showPassword ? 'password' : 'text'"
          matInput
          formControlName="password"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <button
          matSuffix
          mat-icon-button
          (click)="showPassword = !showPassword"
          class="mr-1"
        >
          <fa-icon [icon]="!showPassword ? eyeOpen : eyeClose"></fa-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')"
          >Contraseña requerida</mat-error
        >
      </mat-form-field>

      <div
        class="flex w-[80%] content-between items-center justify-center gap-5 my-2.5"
      >
        <button mat-fab extended="true" (click)="login()">
          <span class="text-md">Iniciar Sesión</span>
        </button>
      </div>

      <a
        routerLink="/auth/recovery-password"
        class="cursor-pointer text-blue-400 hover:text-blue-800 hover-underline-animation"
        >¿Olvidaste tu contraseña?</a
      >
      <span
        >¿No tienes una cuenta?
        <a
          routerLink="/auth/register"
          class="cursor-pointer text-blue-400 hover:text-blue-800 hover-underline-animation"
          >Registrarse</a
        ></span
      >
    </form>
  </section>
  <section class="h-full w-full flex flex-col">
    <img
      src="../../../../assets/images/Image Section.png"
      alt="Login Image"
      class="h-full"
    />
  </section>
</article>
