<app-base-page
  [headerTitle]="'Gestión de la Aplicación'"
  [showContentTitle]="true"
  contentInfo="Aquí puedes gestionar la información tu hotel"
  [showContentInfo]="true"
>
  @if (!isLoading) {
    <mat-tab-group>
      <mat-tab label="Información General">
        <ng-template matTabContent>
          <app-organizational-general-info
            [form]="form"
            [identificationTypes]="identificationTypes"
            [filteredPhoneCodes]="filteredPhoneCodes"
            [loadingPhoneCodes]="loadingPhoneCodes"
            (phoneCodeSelected)="onPhoneCodeSelected($event)"
            (save)="save()"
          ></app-organizational-general-info>
        </ng-template>
      </mat-tab>

      <mat-tab label="Apariencia y SEO">
        <ng-template matTabContent>
          <app-organizational-appearance
            [form]="form"
            (save)="save()"
          ></app-organizational-appearance>
        </ng-template>
      </mat-tab>

      <mat-tab label="Contenido de inicio">
        <ng-template matTabContent>
          <app-organizational-home-content
            [form]="form"
            [benefitSections]="benefitSections"
            (save)="save()"
          ></app-organizational-home-content>
        </ng-template>
      </mat-tab>

      <mat-tab label="Contenido Web">
        <ng-template matTabContent>
          <app-organizational-web-content
            [form]="form"
            [corporateValues]="corporateValues"
            [corporateValueForm]="corporateValueForm"
            [editingValue]="editingValue"
            [corporateValueImageLoading]="corporateValueImageLoading"
            [benefitSections]="benefitSections"
            [benefitSectionForm]="benefitSectionForm"
            [editingSection]="editingSection"
            (save)="save()"
            (saveValue)="saveCorporateValue()"
            (deleteValue)="deleteCorporateValue($event)"
            (editValue)="startEditValue($event)"
            (cancelEdit)="cancelEditValue()"
            (uploadValueImage)="uploadCorporateValueImage($event)"
            (deleteValueImage)="deleteCorporateValueImage($event)"
            (saveSectionEvt)="saveBenefitSection()"
            (deleteSectionEvt)="deleteBenefitSection($event)"
            (editSectionEvt)="startEditSection($event)"
            (cancelSectionEditEvt)="cancelSectionEdit()"
            (addItemEvt)="addBenefitItem($event)"
            (updateItemEvt)="updateBenefitItem($event)"
            (deleteItemEvt)="deleteBenefitItem($event)"
          ></app-organizational-web-content>
        </ng-template>
      </mat-tab>

      <mat-tab label="Multimedia">
        <ng-template matTabContent>
          <app-organizational-multimedia
            [mediaMap]="mediaMap"
            [mediaTypes]="mediaTypes"
            [mediaLoading]="mediaLoading"
            [organizationalId]="organizationalId"
            (fileSelected)="onFileSelected($event.event, $event.code)"
            (deleteMedia)="deleteMedia($event)"
            (previewMedia)="previewMedia($event)"
          ></app-organizational-multimedia>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  } @else {
    <app-loader></app-loader>
  }
</app-base-page>
