@import 'variables.scss';

.brand-text-headline-l {
  font-size: 2rem;
  line-height: 2.5rem;
}

.base-page-header {
  border-bottom: 2px solid #06a606;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.base-page-content {
  margin-bottom: 20px;
}

.back-button {
  top: 5px;
  left: 5px;
  border: 1px solid #06a606;
}
