<app-base-page>
  <mat-tab-group
    animationDuration="600ms"
    (selectedIndexChange)="onTabChange($event)"
  >
    <mat-tab label="Ver recetas">
      <div class="tab-content-container">
        <app-see-recipes
          (editRecipe)="onEditRecipe($event)"
          (recipesLoaded)="onRecipesLoaded($event)"
        ></app-see-recipes>
      </div>
    </mat-tab>

    @if (!isMesero) {
      <mat-tab
        label="{{ currentRecipe ? 'Editar Receta' : 'Crear Receta' }}"
        class="overflow-hidden"
      >
        <div class="tab-content-container">
          <app-create-or-edit-recipe
            [currentRecipe]="currentRecipe"
            [allRecipes]="allRecipes"
            (recipeSaved)="onRecipeSaved()"
            (recipeCanceled)="onRecipeCanceled()"
          ></app-create-or-edit-recipe>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</app-base-page>
