<app-base-page>
  <mat-tab-group (selectedTabChange)="onTabChange()">
    <mat-tab label="Productos">
      <ng-template matTabContent>
        <app-create-or-edit-product
          [categoryTypes]="categoryTypes"
          [unitOfMeasureTypes]="unitOfMeasureTypes"
          (productSaved)="reloadProducts(); tabGroup.selectedIndex = 0"
          (productCanceled)="currentProduct = undefined"
          [currentProduct]="currentProduct"
        ></app-create-or-edit-product>
        <app-see-products
          [searchFieldsProducts]="searchFieldsProducts"
          [categoryTypes]="categoryTypes"
          [unitOfMeasureTypes]="unitOfMeasureTypes"
          (productSelected)="currentProduct = $event; goToTop()"
          (productClean)="cleanProduct()"
        ></app-see-products
      ></ng-template>
    </mat-tab>
    <mat-tab label="Pasadías y Servicios">
      <ng-template matTabContent>
        <app-create-or-edit-excursion
          [categoryTypes]="categoryTypes"
          [stateTypes]="stateTypesExcursion"
          (excursionSaved)="reloadExcursion(); tabGroup.selectedIndex = 1"
          (excursionCanceled)="currentExcursion = undefined"
          [currentExcursion]="currentExcursion"
        ></app-create-or-edit-excursion>
        <app-see-excursions
          [categoryTypes]="categoryTypes"
          [stateTypes]="stateTypesExcursion"
          [searchFieldsExcursions]="searchFieldsExcursions"
          (excursionSelect)="currentExcursion = $event; goToTop()"
          (excursionClean)="cleanExcursion()"
        ></app-see-excursions
      ></ng-template>
    </mat-tab>
    <mat-tab label="Hospedajes">
      <ng-template matTabContent>
        <app-create-or-edit-accommodation
          [categoryTypes]="categoryTypes"
          [stateTypes]="stateTypesAccommodation"
          [bedTypes]="bedTypes"
          (accommodationSaved)="
            reloadAccommodations(); tabGroup.selectedIndex = 2
          "
          (accommodationCanceled)="currentAccommodation = undefined"
          [currentAccommodation]="currentAccommodation"
        ></app-create-or-edit-accommodation>
        <app-see-accommodations
          [searchFieldsAccommodations]="searchFieldsAccommodations"
          [stateTypes]="stateTypesAccommodation"
          [bedTypes]="bedTypes"
          (accommodationSelect)="currentAccommodation = $event; goToTop()"
          (accommodationClean)="cleanAccommodation()"
        ></app-see-accommodations
      ></ng-template>
    </mat-tab>
  </mat-tab-group>
</app-base-page>
