<article class="auth-content-center">
  <section
    class="flex flex-col w-[90%] md:w-[40%] border-[0.5px] border-[var(--primary-color)] rounded-[4px] shadow-2xl p-5"
  >
    <span class="font-extrabold text-xl">{{ 'recovery_pwd.title' | translate }}</span>
    <span class="font-medium text-sm md:text-base"
      >{{ 'recovery_pwd.subtitle' | translate }}</span
    >
    <form [formGroup]="resetPasswordForm" class="w-full">
      <mat-form-field appearance="outline" class="w-full mt-3">
        <mat-label>{{ 'recovery_pwd.email' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
          {{ 'recovery_pwd.email_req' | translate }}
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
          {{ 'recovery_pwd.email_inv' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <section
      class="w-full flex content-between justify-end items-center gap-1.5"
    >
      <app-button-landing
        [label]="'recovery_pwd.back_btn' | translate"
        variant="transparent"
        routerLink="../login"
        class="!w-[50%]"
      />

      <app-button-landing
        [label]="
          cooldownRemaining > 0 ? ('recovery_pwd.wait' | translate) + ' ' + cooldownRemaining + 's' : ('recovery_pwd.send_btn' | translate)
        "
        variant="solid"
        [disabled]="resetPasswordForm.invalid || cooldownRemaining > 0"
        (clicked)="onResetPassword()"
        class="!w-[50%]"
      />
    </section>
  </section>
</article>
