<!-- Contenedor principal centrado -->
<article class="brand-content-center">
  <!-- Sección del formulario de recuperación -->
  <section
    class="flex flex-col w-[90%] md:w-[60%] border-[0.5px] border-black shadow shadow-[#0d47a1] p-5"
  >
    <!-- Título -->
    <span class="text-xl font-semibold">Recuperar contraseña</span>

    <!-- Formulario reactivo de Angular -->
    <form [formGroup]="resetPasswordForm" class="w-full">
      <!-- Campo de correo electrónico -->
      <mat-form-field appearance="outline" class="w-full mt-3">
        <mat-label>Correo electrónico</mat-label>

        <!-- Input con validación de tipo email -->
        <input matInput type="email" formControlName="email" />

        <!-- Error si el campo está vacío -->
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
          El correo es obligatorio.
        </mat-error>

        <!-- Error si el formato del correo es inválido -->
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
          Ingresa un correo válido.
        </mat-error>
      </mat-form-field>
    </form>

    <!-- Acciones del formulario -->
    <section
      class="w-full flex content-between justify-end items-center gap-1.5"
    >
      <!-- Botón para volver al login -->
      <button
        mat-stroked-button
        color="primary"
        class="w-[25%]"
        routerLink="/auth/login"
      >
        Volver
      </button>

      <!-- Botón para enviar solicitud de recuperación -->
      <button
        mat-fab
        extended="true"
        color="primary"
        class="w-[25%]"
        [disabled]="resetPasswordForm.invalid"
        (click)="onResetPassword()"
      >
        Enviar
      </button>
    </section>
  </section>
</article>
