<article class="auth-content-center">
  <section
    class="flex flex-col w-[90%] md:w-[40%] border-[0.5px] border-[#06a606] rounded-2xl shadow-2xl p-5"
  >
    <span class="font-extrabold text-xl">Recuperar contraseña</span>
    <span class="font-medium text-sm md:text-base"
      >Ingresa el correo electrónico asociado a tu cuenta</span
    >
    <form [formGroup]="resetPasswordForm" class="w-full">
      <mat-form-field appearance="outline" class="w-full mt-3">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
          El correo es obligatorio.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
          Ingresa un correo válido.
        </mat-error>
      </mat-form-field>
    </form>
    <section
      class="w-full flex content-between justify-end items-center gap-1.5"
    >
      <button
        mat-stroked-button
        color="primary"
        class="!w-[50%]"
        routerLink="/auth/login"
      >
        Volver
      </button>

      <button
        mat-fab
        extended="true"
        color="primary"
        class="!w-[50%]"
        [disabled]="resetPasswordForm.invalid"
        (click)="onResetPassword()"
      >
        Enviar
      </button>
    </section>
  </section>
</article>
