::ng-deep .mat-mdc-tab-body-content {
  overflow-y: hidden !important;
}

.table-flip-wrapper {
  overflow-x: auto;
  transform: rotateX(180deg);

  .table-flip-inner {
    transform: rotateX(180deg);
  }
}

