<aside
  [ngClass]="{
    'flex flex-col bg-[#06a606] items-center transition-all duration-300 ease-in-out font-bold border-r border-black': true,
    'w-16 !h-full': isCollapsed,
    'w-64 md:w-72 h-full p-2': !isCollapsed,
    'fixed md:static z-50': !isCollapsed
  }"
>
  @if (isLoading) {
  <div
    [ngClass]="{
      'w-full h-full flex items-center justify-center': true,
      'p-2': !isCollapsed
    }"
  >
    <app-loader class="max-w-12"></app-loader>
  </div>
  } @else {
  <!-- Botón toggle -->
  <div
    class="flex h-[6%] transition-all duration-300 ease-in-out"
    [ngClass]="{
      'mt-2 md:mt-4 justify-center': isCollapsed,
      'justify-start': !isCollapsed
    }"
  >
    <button
      (click)="toggleSidebar()"
      mat-icon-button
      class="w-[40px] h-[40px] flex text-xl bg-white rounded-full shadow-md transition-all duration-300 ease-in-out"
    >
      <mat-icon *ngIf="isCollapsed">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="!isCollapsed">close</mat-icon>
    </button>
  </div>

  <!-- Logo -->
  <div
    class="transition-all duration-300 ease-in-out overflow-hidden h-[30%] md:h-[35%]"
    [ngClass]="{
      'scale-0 opacity-0 h-[150px] hidden': isCollapsed,
      'scale-100 opacity-100 mt-5 md:mt-3 flex w-full justify-center items-center ':
        !isCollapsed
    }"
  >
    <img
      src="../../../../assets/images/Logo Samawe.png"
      alt="Logo Samawé"
      class="transition-all duration-300 ease-in-out"
      [ngClass]="{
        'h-[120px] md:h-[150px] w-[120px] md:w-[150px] rounded-full border border-black':
          !isCollapsed
      }"
    />
  </div>

  <!-- Menú -->
  <nav class="w-full h-full px-2 overflow-y-auto mt-0 md:mt-3">
    <div class="mt-[10px] md:mt-0">
      <ul class="flex flex-col transition-all duration-300 ease-in-out">
        <ng-container *ngFor="let module of menuWithItems">
          <div
            [ngClass]="{
              'flex justify-start py-[6px] transition-all duration-300 ease-in-out':
                !isCollapsed,
              'flex justify-center py-[5px] mb-2 transition-all duration-300 ease-in-out':
                isCollapsed
            }"
          >
            <button
              class="transition-all duration-300 ease-in-out flex items-center"
              [ngClass]="{ 'text-black': isCollapsed }"
            >
              <mat-icon
                [ngClass]="{
                  'mx-[5px]': !isCollapsed,
                  'text-black': isCollapsed,
                  inline: true
                }"
              >
                {{ module.icon }}
              </mat-icon>
              <span
                *ngIf="!isCollapsed"
                class="transition-all duration-300 ease-in-out"
                >{{ module.module }}</span
              >
            </button>
          </div>

          <ng-container *ngFor="let item of module.items">
            <li>
              <div
                [ngClass]="{
                  'flex justify-start py-[1.5px] transition-all duration-300 ease-in-out':
                    !isCollapsed,
                  'flex justify-center py-[5px] transition-all duration-300 ease-in-out':
                    isCollapsed
                }"
              >
                <button
                  [matTooltip]="item.name"
                  class="transition-all duration-300 ease-in-out"
                  [ngClass]="{
                    'bg-none': isCollapsed,
                    'flex w-full rounded-lg bg-white border border-black py-[5px]':
                      !isCollapsed,
                    'hover:bg-yellow-400': !isCollapsed,
                    'bg-yellow-400':
                      getActiveElement(item.route) && !isCollapsed
                  }"
                  [routerLink]="
                    !item?.subItems?.length && item.route ? item?.route : null
                  "
                  (click)="!isCollapsed ? toggleSubMenu(item) : null"
                  [matMenuTriggerFor]="
                    isCollapsed && item?.subItems?.length ? submenu : null
                  "
                  #menuTrigger="matMenuTrigger"
                >
                  <mat-icon
                    [ngClass]="{
                      'mx-[5px] text-[#06a606]': !isCollapsed,
                      'text-white': isCollapsed,
                      inline: true
                    }"
                  >
                    {{ item.icon }}
                  </mat-icon>
                  <span
                    *ngIf="!isCollapsed"
                    class="transition-all duration-300 ease-in-out"
                    >{{ item.name }}</span
                  >
                </button>
              </div>

              <!-- Submenú -->
              <mat-menu #submenu="matMenu" xPosition="after">
                <ng-container *ngFor="let subItem of item.subItems">
                  <button mat-menu-item [routerLink]="subItem.route">
                    <mat-icon class="text-[#06a606]">{{
                      subItem.icon
                    }}</mat-icon>
                    <span class="transition-all duration-300 ease-in-out">{{
                      subItem.name
                    }}</span>
                  </button>
                </ng-container>
              </mat-menu>

              <!-- Submenú extendido -->
              <div
                *ngIf="item.subItems?.length"
                [@submenuState]="openSubMenu[item.name] ? 'open' : 'closed'"
                class="transition-all duration-300 ease-in-out overflow-hidden"
                [ngClass]="{
                  'max-h-0 opacity-0 ': !openSubMenu[item.name],
                  'max-h-[500px] opacity-100 ': openSubMenu[item.name]
                }"
              >
                <ul class="pl-5">
                  <li *ngFor="let subItem of item.subItems" class="my-1">
                    <button
                      class="flex w-full items-center gap-x-2 text-black bg-white rounded-lg border border-black px-3 py-[5px] transition-all duration-300 ease-in-out"
                    >
                      <mat-icon class="text-[#06a606]">
                        {{ subItem.icon }}
                      </mat-icon>

                      <span [routerLink]="subItem.route">{{
                        subItem.name
                      }}</span>
                    </button>
                  </li>
                </ul>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </nav>
  <div
    class="flex flex-col w-full text-start text-white font-medium text-lg px-2"
    [ngClass]="{
      flex: !isCollapsed,
      hidden: isCollapsed
    }"
  >
    <span> Rol: {{ userComplete?.roleType?.name }}</span>
    <span> {{ userComplete?.firstName }} {{ userComplete?.lastName }}</span>
  </div>
  <!-- Footer -->
  <div
    class="flex flex-col justify-end h-[10%] w-full items-center gap-y-2 px-2 mt-0 md:mt-3"
  >
    <button
      (click)="logout.emit()"
      class="transition-all duration-300 ease-in-out"
      [ngClass]="{
        'flex items-center w-full px-[10px] py-[5px] border border-black rounded-lg font-extrabold bg-white hover:bg-blue-400 gap-x-2':
          !isCollapsed,
        hidden: isCollapsed
      }"
    >
      <mat-icon
        [ngClass]="{
          'text-[#06a606]': !isCollapsed,
          'text-black': isCollapsed,
          inline: true
        }"
      >
        exit_to_app
      </mat-icon>
      <span
        [ngClass]="{
          'flex transition-all duration-300 ease-in-out': !isCollapsed,
          hidden: isCollapsed
        }"
        >Cerrar Sesión</span
      >
    </button>

    <span
      class="text-white text-xs transition-all duration-300 ease-in-out"
      [ngClass]="{
        flex: !isCollapsed,
        hidden: isCollapsed
      }"
      >© {{ currentYear }} Ecohotel Samawé.</span
    >
  </div>
  }
</aside>
