
// ::ng-deep .mat-menu-panel {
//   border: solid black 1px;
//   @apply border border-black rounded-xl bg-white p-2
//     shadow-lg;
// }

// ::ng-deep .mat-menu-item {
//   @apply text-sm hover:bg-gray-100;
// }
