<aside
  [ngClass]="{
    'flex flex-col bg-[#06a606] items-center font-bold border-r border-black': true,
    'w-16 !h-full transition-all duration-[600ms] ease-in-out': isCollapsed,
    'w-64 md:w-72 h-full p-2': !isCollapsed,
    'fixed md:static z-50': !isCollapsed
  }"
>
  @if (isLoading) {
    <div
      [ngClass]="{
        'w-full h-full flex items-center justify-center': true,
        'p-2': !isCollapsed
      }"
    >
      <app-loader class="max-w-12"></app-loader>
    </div>
  } @else {
    <div
      class="flex"
      [ngClass]="{
        'mt-3 md:mt-6 justify-center': isCollapsed,
        'justify-start': !isCollapsed
      }"
    >
      <button
        (click)="toggleSidebar()"
        class="flex text-xl bg-white hover:bg-yellow-300 rounded-full shadow-md justify-center items-center border border-black"
        [ngClass]="{
          'w-[35px] h-[35px]   md:w-[35px] md:h-[35px] lg:w-[30px] lg:h-[30px] xl:w-[35px] xl:h-[35px] transition-all duration-[600ms] ease-in-out':
            isCollapsed,
          'w-[40px] h-[40px] md:w-[35px] md:h-[35px] lg:w-[35px] lg:h-[35px] xl:w-[40px] xl:h-[40px]':
            !isCollapsed
        }"
      >
        <mat-icon *ngIf="isCollapsed">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="!isCollapsed">close</mat-icon>
      </button>
    </div>
    <div
      class="overflow-hidden h-[25%] md:h-[25%] lg:h-[30%] xl:h-[35%]"
      [ngClass]="{
        'scale-0 opacity-0 h-[150px] hidden': isCollapsed,
        'scale-100 opacity-100 mt-5 md:mt-3 flex w-full justify-center items-center delay-[100ms] transition-opacity duration-300':
          !isCollapsed
      }"
    >
      <img
        [src]="'assets/images/Logo Samawe.png'"
        alt="Logo Samawé"
        class=""
        [ngClass]="{
          'h-[90px] w-[90px] sm:h-[100px] sm:w-[100px] md:h-[90px] md:w-[90px] lg:h-[90px] lg:w-[90px] xl:h-[120px] xl:w-[120px] rounded-full border border-black':
            !isCollapsed
        }"
      />
    </div>
    <nav class="w-full h-full px-2 overflow-y-auto">
      <div class="mt-[10px] md:mt-0">
        <ul class="flex flex-col">
          <ng-container *ngFor="let module of menuWithItems">
            <div
              [ngClass]="{
                'flex justify-start py-[6px]': !isCollapsed,
                'flex items-center justify-center py-[5px] w-full': isCollapsed
              }"
            >
              <div
                class="flex items-center"
                [ngClass]="{
                  'justify-start w-full': !isCollapsed,
                  'justify-center items-center w-full text-black': isCollapsed
                }"
              >
                <mat-icon
                  class="!flex items-center justify-center text-base md:text-base lg:text-base xl:text-xl"
                  [ngClass]="{
                    'mx-[5px]': !isCollapsed,
                    'text-black ': isCollapsed
                  }"
                >
                  {{ module.icon }}
                </mat-icon>
                <div class="flex items-center">
                  <span
                    *ngIf="!isCollapsed"
                    class="text-xs md:text-xs lg:text-sm xl:text-base"
                    >{{ module.module }}</span
                  >
                </div>
              </div>
            </div>
            <ng-container *ngFor="let item of module.items">
              <li>
                <div
                  [ngClass]="{
                    'flex justify-start py-[1.5px]': !isCollapsed,
                    'flex justify-center py-[5px]': isCollapsed
                  }"
                >
                  <button
                    [matTooltip]="isCollapsed ? item.name : null"
                    class="flex items-center rounded-lg"
                    [ngClass]="{
                      'bg-none': isCollapsed,
                      'flex w-full bg-white border border-black py-[2px] md:py-[2px] lg:py-[2px] xl:py-[5px]':
                        !isCollapsed,
                      'hover:bg-yellow-300': !isCollapsed,
                      'hover:bg-white/20': isCollapsed
                    }"
                    [routerLink]="
                      !item?.subItems?.length && item.route ? item?.route : null
                    "
                    (click)="onItemClick($event, item)"
                    [matMenuTriggerFor]="
                      isCollapsed && item?.subItems?.length ? submenu : null
                    "
                    #menuTrigger="matMenuTrigger"
                  >
                    <div class="flex items-center md:items-start">
                      <mat-icon
                        class="!flex text-base md:text-base lg:text-base xl:text-2xl justify-center items-center text-[#06a606]"
                        [ngClass]="{
                          'mx-[5px]': !isCollapsed,
                          ' bg-white border border-black rounded-lg p-4 hover:bg-yellow-300':
                            isCollapsed,
                          inline: true
                        }"
                      >
                        {{ item.icon }}
                      </mat-icon>
                    </div>
                    <div class="flex items-center">
                      <span
                        *ngIf="!isCollapsed"
                        class="text-xs md:text-xs lg:text-xs xl:text-base"
                        >{{ item.name }}</span
                      >
                    </div>
                  </button>
                </div>
                <mat-menu #submenu="matMenu" xPosition="after">
                  <ng-container *ngFor="let subItem of item.subItems">
                    <button mat-menu-item [routerLink]="subItem.route">
                      <mat-icon class="text-[#06a606]">{{
                        subItem.icon
                      }}</mat-icon>
                      <span>{{ subItem.name }}</span>
                    </button>
                  </ng-container>
                </mat-menu>
                <div
                  *ngIf="item.subItems?.length"
                  [@submenuState]="openSubMenu[item.name] ? 'open' : 'closed'"
                  class="overflow-hidden"
                  [ngClass]="{
                    'max-h-0 opacity-0': !openSubMenu[item.name],
                    'max-h-[500px] opacity-100': openSubMenu[item.name]
                  }"
                >
                  <ul class="pl-5">
                    <li *ngFor="let subItem of item.subItems" class="my-1">
                      <button
                        class="flex w-full items-center gap-x-2 text-black bg-white rounded-lg border border-black px-3 py-[5px] hover:bg-yellow-300"
                        [routerLink]="subItem.route"
                        (click)="removeFocus($event)"
                      >
                        <mat-icon class="text-[#06a606]">{{
                          subItem.icon
                        }}</mat-icon>
                        <span>{{ subItem.name }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </nav>
    <div
      class="flex flex-col w-full text-start text-white font-medium text-sm md:text-lg px-2"
      [ngClass]="{
        flex: !isCollapsed,
        hidden: isCollapsed
      }"
    >
      <span class="font-bold text-xs md:text-xs xl:text-base"
        >Rol:
        <span class="font-normal text-xs md:text-xs xl:text-base">{{
          userComplete?.roleType?.name
        }}</span>
      </span>
      <span class="font-normal text-xs md:text-xs xl:text-base"
        >{{ userComplete?.firstName }} {{ userComplete?.lastName }}</span
      >
    </div>
    <div
      class="flex flex-col justify-center h-[10%] w-full items-center gap-y-2 px-2 mt-0 md:mt-3"
    >
      <button
        [matTooltip]="isCollapsed ? 'Cerrar Sesión' : null"
        (click)="logout.emit(); removeFocus($event)"
        class="flex items-center justify-start"
        [ngClass]="{
          'flex items-center w-full px-[10px] py-[2px] md:py-[2px] xl:py-[2px] border border-black rounded-lg font-extrabold bg-white hover:bg-yellow-300 gap-x-2':
            !isCollapsed,
          'bg-none': isCollapsed
        }"
      >
        <mat-icon
          class="!flex text-base md:text-base xl:text-2xl justify-center items-center rounded-lg"
          [ngClass]="{
            'text-[#06a606]': !isCollapsed,
            'text-[#06a606] bg-white border border-black p-4 hover:bg-yellow-300':
              isCollapsed,
            inline: true
          }"
        >
          exit_to_app
        </mat-icon>
        <span
          *ngIf="!isCollapsed"
          class="text-xs md:text-xs lg:text-xs xl:text-base"
          >Cerrar Sesión</span
        >
      </button>
      <span
        class="text-white text-xs"
        [ngClass]="{
          flex: !isCollapsed,
          hidden: isCollapsed
        }"
      >
        © {{ currentYear }} Ecohotel Samawé.
      </span>
    </div>
  }
</aside>
