@use 'variables' as *;

aside {
  position: relative;
  overflow: hidden;
  width: 250px;
  transition: width 0.3s ease, left 0.3s ease;

  .nav-link {
    background-color: white;
  }

  .nav-link-subtitem {
    color: black;
  }

  .color-icon-green {
    color: $side-bar-background;
    margin-inline: 5px;
  }

  &.collapsed {
    width: 60px;
    display: flex;
    justify-content: center;

    .toggle-button-wrapper {
      right: 5px;
    }

    .nav-link,
    .nav-link-subtitem,
    .nav-link-father {
      justify-content: center;

      span {
        opacity: 0;
      }
    }

    .nav-link a {
      max-width: 30px;
    }

    .nav-link {
      background-color: transparent;
      border: none;
    }

    .color-icon-green {
      color: white;
    }
  }

  @media (max-width: 768px) {
    left: 0;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, $side-bar-background);

    &:not(.collapsed) {
      position: fixed;
      width: 250px;
    }
  }
}

.toggle-button-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  transition: right 0.3s ease;
}

.nav-link,
.nav-link-subtitem,
.nav-link-father {
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: padding 0.3s ease;
  margin-block: 3px;

  span {
    transition: opacity 0.2s ease;
    color: black;
    opacity: 1;
  }
}

.nav-link,
.nav-link-subtitem {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 10px;
}

.nav-link-subtitem {
  padding: 3px 10px;
  margin-left: 20px;
}

.nav-link-father {
  padding: 3px 0px;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item a {
  display: flex;
  color: white;
}

.toggle-button mat-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.open {
    max-height: 500px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
