<article class="flex flex-col h-full justify-center m-4 md:m-0">
  <div>
    <span class="text-lg md:text-xl font-extrabold">Resumen de Factura</span>
  </div>
  <div class="flex flex-col">
    @if (invoiceData.invoiceType.code === 'FC') {
    <span class="font-bold">Nombre del Proveedor</span>
    } @else {
    <span class="font-bold">Nombre del Cliente</span>
    }

    <div class="w-full rounded-lg border border-[#06a606] px-2 py-3">
      {{ invoiceData.user.firstName || 'Nombres' }}
      {{ invoiceData.user.lastName || 'Apellidos' }}
    </div>
  </div>

  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Tipo de pago:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.payType.name }} </span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Estado de pago:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span
        class="font-medium"
        [ngClass]="{
          'text-green-600':
            invoiceData.paidType.name === 'Pagado' ||
            invoiceData.paidType.name === 'Reservado - Pagado',
          'text-red-600':
            invoiceData.paidType.name === 'Pendiente' ||
            invoiceData.paidType.name === 'Reservado - Pendiente'
        }"
        >{{ invoiceData.paidType.name }}
      </span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Factura #:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.invoiceType.code }}</span>
      <span> - </span>
      <span>{{ invoiceData.code }}</span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Subtotal:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.subtotalWithoutTax | formatCop }}</span>
    </div>
  </div>

  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>

  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">IVA:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.subtotalWithTax | formatCop }}</span>
    </div>
  </div>

  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Total:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span class="font-medium text-[#06a606]">{{
        invoiceData.total | formatCop
      }}</span>
    </div>
  </div>

  <div><span>Los precios incluyen impuestos</span></div>
  <div class="hidden md:flex">
    <button
      class="!w-full !rounded-lg"
      mat-fab
      extended="true"
      (click)="onPrint()"
    >
      Imprimir factura
    </button>
  </div>
  <div class="flex md:hidden">
    <button
      class="!w-full !rounded-lg"
      mat-fab
      extended="true"
      (click)="onDownload()"
    >
      Descargar PDF
    </button>
  </div>
</article>
