@if(isLoggedUser){
<article class="brand-content-center">
  <div class="text-center p-6">
    <span>Bienvenido al panel de administración del Ecohotel Samawé</span>
  </div>
</article>

} @else {
<article
  class="relative h-screen w-screen mx-auto overflow-hidden flex items-center justify-center border border-black"
>
  <!-- Imagen de fondo -->
  <img
    src="../../../../assets/images/Home Father.png"
    alt="Fondo"
    class="absolute inset-0 w-full h-screen object-cover z-0"
  />

  <!-- Capa oscura opcional -->
  <div class="absolute inset-0 bg-black/40 z-10"></div>

  <!-- Contenido encima de la imagen -->

  <div class="relative z-20 text-white text-center p-6">
    <span class="text-3xl font-semibold mb-4"
      >Administración del Ecohotel Samawé</span
    >

    <div
      class="flex w-full content-between items-center justify-center gap-5 my-2.5"
    >
      <button mat-fab extended="true" routerLink="/auth/login">
        <span class="text-md font-extrabold">Iniciar Sesión</span>
      </button>
    </div>
  </div>
</article>
}
