.center-text {
  text-align: center !important;
  justify-content: center !important;
}
.right-text {
  text-align: right !important;
  justify-content: flex-end !important;
}

table {
  width: 100%;
}

.red-color {
  color: rgb(255, 27, 27) !important;
}
.green-color {
  color: green !important;
}
.blue-color {
  color: rgb(14, 58, 154) !important;
}
