.center-text {
  text-align: center !important;
  justify-content: center !important;
}
.right-text {
  text-align: right !important;
  justify-content: flex-end !important;
}

table {
  width: 100%;
}

.red-color {
  color: var(--danger) !important;
}
.green-color {
  color: var(--success) !important;
}
.blue-color {
  color: var(--info) !important;
}
