<div class="auth-content-center my-4 md:my-8 2xl:my-8 3xl:my-0">
  <article
    class="relative w-[90%] md:w-[80%] lg:w-[70%] xl:w-[70%] 2xl:w-[60%] h-auto md:h-[680px] lg:h-[680px] xl:h-[680px] 2xl:h-[680px] 3xl:h-[750px] flex content-between justify-center items-center border border-[var(--primary-color)] rounded-[4px] mx-auto overflow-hidden shadow-2xl"
  >
    @if (registered) {
      <section
        class="h-full w-full flex flex-col items-center justify-center text-center gap-5 p-8"
      >
        <span class="material-icons text-6xl text-[var(--primary-color)]"
          >mark_email_read</span
        >
        <span class="font-extrabold text-xl">{{
          registeredTitle | translate
        }}</span>
        <p class="text-sm text-gray-500 max-w-sm">
          {{ registeredSubtitle | translate }}
        </p>
        <app-button-landing
          [label]="'register.go_to_login' | translate"
          variant="solid"
          (clicked)="goToLogin()"
          class="w-full max-w-xs"
        />
      </section>
    }
    @if (!registered) {
      <section
        class="relative h-full w-full hidden md:flex flex-col bg-gray-100"
      >
        <img
          *ngIf="registerBgUrl"
          [ngSrc]="registerBgUrl"
          priority
          fill
          alt="Register Background"
          class="object-cover"
        />
      </section>
      <section
        class="h-full w-full flex flex-col text-center py-5 gap-0 md:gap-1"
      >
        <div class="flex flex-col gap-1.5">
          <span class="font-extrabold text-lg 2xl:text-xl">{{
            'register.title' | translate
          }}</span>
          <span class="font-medium text-sm md:text-base">{{
            'register.subtitle' | translate
          }}</span>
        </div>
        <mat-horizontal-stepper [linear]="true" #stepper class="w-full h-full">
          <mat-step [stepControl]="formStep1">
            <form [formGroup]="formStep1" class="flex flex-col mt-5">
              <ng-template matStepLabel>{{
                'register.step1_label' | translate
              }}</ng-template>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.id_type' | translate }}</mat-label>
                <mat-select formControlName="identificationTypeId" required>
                  <mat-option value="" disabled selected>{{
                    'register.id_type_placeholder' | translate
                  }}</mat-option>
                  <mat-option
                    *ngFor="let type of identificationType"
                    [value]="type.identificationTypeId.toString()"
                  >
                    {{ type.name | capitalize }}
                  </mat-option>
                </mat-select>
                <mat-icon matPrefix>table_chart</mat-icon>
                <mat-error
                  *ngIf="
                    formStep1.get('identificationTypeId')?.hasError('required')
                  "
                >
                  {{ 'register.id_type_required' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.id_number' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="identificationNumber"
                  required
                  appNoSpaces
                />
                <mat-icon matPrefix>credit_card</mat-icon>
                <mat-error
                  *ngIf="
                    formStep1.get('identificationNumber')?.hasError('required')
                  "
                >
                  {{ 'register.id_number_required' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    formStep1.get('identificationNumber')?.hasError('pattern')
                  "
                >
                  {{ 'register.id_number_pattern' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.first_name' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="firstName"
                  required
                  appNormalizeName
                />
                <mat-icon matPrefix>person</mat-icon>
                <mat-error
                  *ngIf="formStep1.get('firstName')?.hasError('required')"
                >
                  {{ 'register.first_name_required' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.last_name' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="lastName"
                  required
                  appNormalizeName
                />
                <mat-icon matPrefix>people</mat-icon>
                <mat-error
                  *ngIf="formStep1.get('lastName')?.hasError('required')"
                >
                  {{ 'register.last_name_required' | translate }}
                </mat-error>
              </mat-form-field>
              <div actions class="w-full flex justify-end text-sm md:text-base">
                <app-button-landing
                  [label]="'register.next' | translate"
                  variant="solid"
                  [disabled]="formStep1.invalid"
                  (clicked)="nextStep()"
                  class="w-full"
                />
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formStep2">
            <form [formGroup]="formStep2" class="flex flex-col mt-5">
              <ng-template matStepLabel>{{
                'register.step2_label' | translate
              }}</ng-template>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.email' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="email"
                  required
                  (input)="onEmailInput($event)"
                />
                <mat-icon matPrefix>email</mat-icon>
                <mat-error *ngIf="formStep2.get('email')?.hasError('required')">
                  {{ 'register.email_required' | translate }}
                </mat-error>
                <mat-error *ngIf="formStep2.get('email')?.hasError('email')">
                  {{ 'register.email_invalid' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{
                  'register.search_country' | translate
                }}</mat-label>
                <mat-icon matPrefix>flag</mat-icon>
                <input
                  type="text"
                  matInput
                  formControlName="phoneCodeSearch"
                  [matAutocomplete]="autoPhoneCode"
                  [placeholder]="'register.search_placeholder' | translate"
                  [readonly]="isPhoneCodeSelected"
                  (blur)="onPhoneCodeBlur()"
                />
                <button
                  *ngIf="isPhoneCodeSelected"
                  matSuffix
                  mat-icon-button
                  type="button"
                  (click)="clearPhoneCodeSelection()"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-autocomplete
                  #autoPhoneCode="matAutocomplete"
                  [displayWith]="displayPhoneCode"
                  (optionSelected)="onPhoneCodeSelected($event.option.value)"
                >
                  @if (loadingPhoneCodes) {
                    <mat-option disabled>{{
                      'register.searching' | translate
                    }}</mat-option>
                  } @else if (filteredPhoneCodes.length === 0) {
                    <mat-option disabled>{{
                      'register.no_results' | translate
                    }}</mat-option>
                  } @else {
                    @for (pc of filteredPhoneCodes; track pc.phoneCodeId) {
                      <mat-option [value]="pc">
                        {{ pc.name | capitalize }} {{ pc.code }}
                      </mat-option>
                    }
                  }
                </mat-autocomplete>
                <mat-error
                  *ngIf="formStep2.get('phoneCodeSearch')?.hasError('required')"
                >
                  {{ 'register.no_country_selected' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.phone' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  (input)="onPhoneInput($event)"
                />
                <mat-icon matPrefix>phone_iphone</mat-icon>
                <mat-error *ngIf="formStep2.get('phone')?.hasError('required')">
                  {{ 'register.phone_required' | translate }}
                </mat-error>
                <mat-error *ngIf="formStep2.get('phone')?.hasError('pattern')">
                  {{ 'register.phone_pattern' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'register.password' | translate }}</mat-label>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  matInput
                  formControlName="password"
                  required
                />
                <mat-icon matPrefix>lock</mat-icon>
                <button
                  matSuffix
                  mat-icon-button
                  (click)="showPassword = !showPassword"
                >
                  <mat-icon>{{
                    showPassword ? 'visibility' : 'visibility_off'
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="formStep2.get('password')?.hasError('required')"
                >
                  {{ 'register.password_required' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    formStep2.get('password')?.hasError('passwordStrength')
                  "
                >
                  {{ 'register.password_strength' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full mt-4">
                <mat-label>{{
                  'register.confirm_password' | translate
                }}</mat-label>
                <input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  matInput
                  formControlName="confirmPassword"
                  required
                />
                <mat-icon matPrefix>lock</mat-icon>
                <button
                  matSuffix
                  mat-icon-button
                  (click)="showConfirmPassword = !showConfirmPassword"
                >
                  <mat-icon>{{
                    showConfirmPassword ? 'visibility' : 'visibility_off'
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="formStep2.get('confirmPassword')?.hasError('required')"
                >
                  {{ 'register.password_required' | translate }}
                </mat-error>
                <mat-error *ngIf="formStep2.hasError('passwordMismatch')">
                  {{ 'register.password_mismatch' | translate }}
                </mat-error>
              </mat-form-field>
              <section
                actions
                class="w full content-between md:flex gap-x-2 text-sm md:text-base"
              >
                <div class="w-full md:w-[50%]">
                  <app-button-landing
                    [label]="'register.prev' | translate"
                    variant="transparent"
                    (clicked)="prevStep()"
                    class="w-full"
                  />
                </div>
                <div class="w-full md:w-[50%] mt-4 md:mt-0">
                  <app-button-landing
                    [label]="'register.submit' | translate"
                    variant="solid"
                    [loading]="isSaving"
                    (clicked)="save()"
                    class="w-full"
                  />
                </div>
              </section>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
        <div
          class="text-center flex justify-center items-center gap-1 mt-3 md:mt-0"
        >
          <span class="font-medium text-sm md:text-base"
            >{{ 'register.has_account' | translate }}
          </span>
          <a
            routerLink="../login"
            class="cursor-pointer text-[var(--primary-color)] hover:text-[var(--primary-color)] hover-underline-animation font-medium text-sm md:text-base"
          >
            {{ 'register.login_here' | translate }}
          </a>
        </div>
      </section>
    }
  </article>
</div>
