// :host ::ng-deep .mat-horizontal-content-container {
//   overflow: hidden;
//   padding-left: 24px;
//   padding-right: 24px;
//   padding-bottom: 0;
// }
// :host ::ng-deep .mat-horizontal-stepper-header {
//   padding-block: 10px;
// }
