<div class="auth-content-center my-4 md:my-8 2xl:my-8 3xl:my-0">
  <article
    class="relative w-[90%] md:w-[80%] lg:w-[70%] xl:w-[70%] 2xl:w-[60%] h-auto md:h-[680px] lg:h-[680px] xl:h-[680px] 2xl:h-[680px] 3xl:h-[750px] flex content-between justify-center items-center border border-[var(--primary-color)] rounded-[4px] mx-auto overflow-hidden shadow-2xl"
  >
    <section class="relative h-full w-full hidden md:flex flex-col bg-gray-100">
      <img
        *ngIf="registerBgUrl"
        [ngSrc]="registerBgUrl"
        priority
        fill
        alt="Register Background"
        class="object-cover"
      />
    </section>
    <section
      class="h-full w-full flex flex-col text-center py-5 gap-0 md:gap-1"
    >
      <div class="flex flex-col gap-1.5">
        <span class="font-extrabold text-lg 2xl:text-xl">Registrarse</span>
        <span class="font-medium text-sm md:text-base"
          >Crea una nueva cuenta</span
        >
      </div>
      <mat-horizontal-stepper [linear]="true" #stepper class="w-full h-full">
        <mat-step [stepControl]="formStep1">
          <form [formGroup]="formStep1" class="flex flex-col mt-5">
            <ng-template matStepLabel>Información Personal</ng-template>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Tipo de Identificación</mat-label>
              <mat-select formControlName="identificationTypeId" required>
                <mat-option value="" disabled selected
                  >Seleccione su tipo de identificación</mat-option
                >
                <mat-option
                  *ngFor="let type of identificationType"
                  [value]="type.identificationTypeId.toString()"
                >
                  {{ type.name | capitalize }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>table_chart</mat-icon>
              <mat-error
                *ngIf="
                  formStep1.get('identificationTypeId')?.hasError('required')
                "
              >
                Tipo de identificación requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Número de identificación</mat-label>
              <input matInput formControlName="identificationNumber" required />
              <mat-icon matPrefix>credit_card</mat-icon>
              <mat-error
                *ngIf="
                  formStep1.get('identificationNumber')?.hasError('required')
                "
              >
                Número de identificación requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombres Completos</mat-label>
              <input matInput formControlName="firstName" required />
              <mat-icon matPrefix>person</mat-icon>
              <mat-error
                *ngIf="formStep1.get('firstName')?.hasError('required')"
              >
                Nombres completos requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellidos Completos</mat-label>
              <input matInput formControlName="lastName" required />
              <mat-icon matPrefix>people</mat-icon>
              <mat-error
                *ngIf="formStep1.get('lastName')?.hasError('required')"
              >
                Apellidos completos requerido
              </mat-error>
            </mat-form-field>
            <div actions class="w-full flex justify-end text-sm md:text-base">
              <app-button-landing
                label="Siguiente"
                variant="solid"
                (clicked)="nextStep()"
                class="w-full"
              />
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formStep2">
          <form [formGroup]="formStep2" class="flex flex-col mt-5">
            <ng-template matStepLabel>Tu cuenta</ng-template>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="email" required />
              <mat-icon matPrefix>email</mat-icon>
              <mat-error *ngIf="formStep2.get('email')?.hasError('required')">
                Correo electrónico requerido
              </mat-error>
              <mat-error *ngIf="formStep2.get('email')?.hasError('email')">
                Correo electrónico inválido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>País</mat-label>
              <mat-select formControlName="phoneCodeId" required>
                <mat-option value="" disabled selected
                  >Seleccione su país</mat-option
                >
                <mat-option
                  *ngFor="let type of phoneCode"
                  [value]="type.phoneCodeId.toString()"
                >
                  {{ type.name | capitalize }} {{ type.code }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>flag</mat-icon>
              <mat-error
                *ngIf="formStep2.get('phoneCodeId')?.hasError('required')"
              >
                País requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="phone" />
              <mat-icon matPrefix>phone_iphone</mat-icon>
              <mat-error *ngIf="formStep2.get('phone')?.hasError('required')">
                Teléfono requerido
              </mat-error>
              <mat-error *ngIf="formStep2.get('phone')?.hasError('pattern')">
                Solo números, máximo 15 dígitos
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                matInput
                formControlName="password"
                required
              />
              <mat-icon matPrefix>lock</mat-icon>
              <button
                matSuffix
                mat-icon-button
                (click)="showPassword = !showPassword"
              >
                <mat-icon>{{
                  showPassword ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="formStep2.get('password')?.hasError('required')"
              >
                Contraseña requerida
              </mat-error>
              <mat-error
                *ngIf="formStep2.get('password')?.hasError('passwordStrength')"
              >
                La contraseña debe tener 6 caracteres, con mayúscula, minúscula
                y un carácter especial.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mt-4 md:mt-0">
              <mat-label>Confirmar Contraseña</mat-label>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                matInput
                formControlName="confirmPassword"
                required
              />
              <mat-icon matPrefix>lock</mat-icon>
              <button
                matSuffix
                mat-icon-button
                (click)="showConfirmPassword = !showConfirmPassword"
              >
                <mat-icon>{{
                  showConfirmPassword ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="formStep2.get('confirmPassword')?.hasError('required')"
              >
                Contraseña requerida
              </mat-error>
              <mat-error *ngIf="formStep2.hasError('passwordMismatch')">
                Las contraseñas no coinciden
              </mat-error>
            </mat-form-field>
            <section
              actions
              class="w full content-between md:flex gap-x-2 text-sm md:text-base"
            >
              <div class="w-full md:w-[50%]">
                <app-button-landing
                  label="Anterior"
                  variant="transparent"
                  (clicked)="prevStep()"
                  class="w-full"
                />
              </div>
              <div class="w-full md:w-[50%]">
                <app-button-landing
                  label="Registrarse"
                  variant="solid"
                  (clicked)="save()"
                  class="w-full"
                />
              </div>
            </section>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
      <div
        class="text-center flex justify-center items-center gap-1 mt-3 md:mt-0"
      >
        <span class="font-medium text-sm md:text-base"
          >¿Ya tienes una cuenta?
        </span>
        <a
          routerLink="/auth/login"
          class="cursor-pointer text-[var(--primary-color)] hover:text-[var(--primary-color)] hover-underline-animation font-medium text-sm md:text-base"
        >
          Inicia sesión aquí
        </a>
      </div>
    </section>
  </article>
</div>
