<app-navbar-desktop
  [navBarItems]="navBarItems"
  [loginItem]="loginItem"
  [isLoggedUser]="isLoggedUser"
  [userInfo]="userInfo"
  [loggedMenuItems]="loggedMenuItems"
  [isScrolled]="isScrolled"
  [isScrollingDown]="isScrollingDown"
  [isPastHero]="isPastHero"
  [isHomePage]="isHomePage"
  [organizationalName]="organizationalName"
  [logoUrl]="logoUrl"
  (openMenu)="openMobileMenu()"
  (logoutEvent)="logout()"
/>

@if (isMobileMenuOpen) {
  <app-navbar-mobile
    [navBarItems]="navBarItems"
    [loginItem]="loginItem"
    [isLoggedUser]="isLoggedUser"
    [userInfo]="userInfo"
    [loggedMenuItems]="loggedMenuItems"
    [organizationalName]="organizationalName"
    [logoUrl]="logoUrl"
    (closeMenu)="closeMobileMenu()"
    (logoutEvent)="logout()"
  />
}
