<form [formGroup]="form" class="py-6 flex flex-col gap-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.hotel_name' | translate }}</mat-label>
      <input matInput formControlName="name" [placeholder]="'organizational.general_info.hotel_name_ph' | translate" (input)="onNameInput()" />
      <mat-icon matPrefix>business</mat-icon>
      <mat-error *ngIf="form.get('name')?.hasError('required')">{{ 'organizational.general_info.name_required' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.slug' | translate }}</mat-label>
      <input matInput formControlName="slug" placeholder="mi-hotel" />
      <mat-icon matPrefix>link</mat-icon>
      <mat-error *ngIf="form.get('slug')?.hasError('required')">{{ 'organizational.general_info.slug_required' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.legal_name' | translate }}</mat-label>
      <input matInput formControlName="legalName" />
      <mat-icon matPrefix>gavel</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.id_type' | translate }}</mat-label>
      <mat-select formControlName="identificationTypeId">
        <mat-option *ngFor="let type of identificationTypes" [value]="type.identificationTypeId">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.id_number' | translate }}</mat-label>
      <input matInput formControlName="identificationNumber" />
      <mat-icon matPrefix>badge</mat-icon>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.email' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.common.search_country' | translate }}</mat-label>
      <mat-icon matPrefix>flag</mat-icon>
      <input type="text" matInput formControlName="phoneCodeSearch" [matAutocomplete]="autoPhoneCode"
        [placeholder]="'organizational.common.type_to_search' | translate" [readonly]="isPhoneCodeSelected" />
      <button *ngIf="isPhoneCodeSelected" matSuffix mat-icon-button type="button" (click)="clearPhoneCodeSelection()" [matTooltip]="'organizational.common.clear_selection' | translate">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #autoPhoneCode="matAutocomplete" [displayWith]="displayPhoneCode"
        (optionSelected)="phoneCodeSelected.emit($event.option.value)">
        @if (loadingPhoneCodes) {
          <mat-option disabled><span>{{ 'organizational.common.searching' | translate }}</span></mat-option>
        } @else if (filteredPhoneCodes.length === 0) {
          <mat-option disabled><span>{{ 'organizational.common.no_results' | translate }}</span></mat-option>
        } @else {
          @for (phoneCode of filteredPhoneCodes; track phoneCode.phoneCodeId) {
            <mat-option [value]="phoneCode">
              {{ phoneCode.name }} ({{ phoneCode.code }})
            </mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'organizational.general_info.phone' | translate }}</mat-label>
      <input matInput formControlName="phone" type="tel" />
      <mat-icon matPrefix>phone</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex items-baseline gap-2">
      <span class="text-lg font-bold">{{ 'organizational.general_info.social_networks' | translate }}</span>
      <span class="text-xs text-gray-500 ml-2">{{ 'organizational.general_info.social_networks_hint' | translate }}</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Facebook</mat-label>
        <input matInput formControlName="facebookUrl" [placeholder]="'organizational.general_info.facebook_ph' | translate" />
        <mat-icon matPrefix>facebook</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Instagram</mat-label>
        <input matInput formControlName="instagramUrl" [placeholder]="'organizational.general_info.instagram_ph' | translate" />
        <mat-icon matPrefix>photo_camera</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="flex justify-end mt-4">
    <button mat-fab extended="true" class="!w-full" (click)="save.emit()">
      <mat-icon>save</mat-icon>
      {{ 'organizational.common.save_changes' | translate }}
    </button>
  </div>
</form>
