<form [formGroup]="form" class="py-6 flex flex-col gap-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre del hotel</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Hotel Colombia" />
      <mat-icon matPrefix>business</mat-icon>
      <mat-error *ngIf="form.get('name')?.hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Slug (URL identificador)</mat-label>
      <input matInput formControlName="slug" placeholder="ej-eco-hotel-samawe" />
      <mat-icon matPrefix>link</mat-icon>
      <mat-error *ngIf="form.get('slug')?.hasError('required')">El slug es requerido</mat-error>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre Legal (Razón Social)</mat-label>
      <input matInput formControlName="legalName" placeholder="Ej. Samawé S.A.S." />
      <mat-icon matPrefix>gavel</mat-icon>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Tipo Identificación</mat-label>
      <mat-select formControlName="identificationTypeId">
        <mat-option *ngFor="let type of identificationTypes" [value]="type.identificationTypeId">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full md:col-span-2">
      <mat-label>Número de Identificación</mat-label>
      <input matInput formControlName="identificationNumber" placeholder="Ej. 900.123.456-1" />
      <mat-icon matPrefix>badge</mat-icon>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Correo Electrónico de Contacto</mat-label>
      <input matInput formControlName="email" placeholder="contacto@ejemplo.com" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Buscar país</mat-label>
        <mat-icon matPrefix>flag</mat-icon>
        <input type="text" matInput formControlName="phoneCodeSearch"
          [matAutocomplete]="autoPhoneCode" placeholder="Escribe para buscar..." />
        <mat-autocomplete #autoPhoneCode="matAutocomplete" [displayWith]="displayPhoneCode"
          (optionSelected)="phoneCodeSelected.emit($event.option.value)">
          @if (loadingPhoneCodes) {
            <mat-option disabled><span>Buscando...</span></mat-option>
          } @else if (filteredPhoneCodes.length === 0) {
            <mat-option disabled><span>No se encontraron resultados</span></mat-option>
          } @else {
            @for (phoneCode of filteredPhoneCodes; track phoneCode.phoneCodeId) {
              <mat-option [value]="phoneCode">{{ phoneCode.name }} {{ phoneCode.code }}</mat-option>
            }
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Teléfono de Contacto</mat-label>
        <input matInput formControlName="phone" placeholder="321..." />
        <mat-icon matPrefix>phone</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address" />
    <mat-icon matPrefix>location_on</mat-icon>
  </mat-form-field>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Departamento / Provincia</mat-label>
      <input matInput formControlName="department" />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Descripción / Bio</mat-label>
    <textarea matInput formControlName="description" rows="4"></textarea>
  </mat-form-field>

  <div class="flex justify-end gap-3 mt-4">
    <button mat-fab extended="true" class="!w-full" (click)="save.emit()">
      <mat-icon>save</mat-icon>
      Guardar Cambios
    </button>
  </div>
</form>
