<app-base-dialog
  [title]="
    data.editMode
      ? ('invoice.dialog.edit_title' | translate)
      : ('invoice.dialog.create_title' | translate)
  "
  [description]="
    data.editMode
      ? ('invoice.dialog.edit_desc' | translate)
      : ('invoice.dialog.create_desc' | translate)
  "
>
  <form form [formGroup]="form" class="flex flex-col gap-4">
    @if (!isLoading) {
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.invoice_type' | translate }}</mat-label>
        <mat-select formControlName="invoiceTypeId" required>
          <mat-option
            *ngFor="let type of invoiceTypes"
            [value]="type.invoiceTypeId"
          >
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>description</mat-icon>
        <mat-error *ngIf="form.get('invoiceTypeId')?.hasError('required')">
          {{ 'invoice.dialog.invoice_type_required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.search_client' | translate }}</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="clientAuto"
          [formControl]="clientFilterControl"
          [placeholder]="'invoice.dialog.client_placeholder' | translate"
          [readonly]="isClientSelected"
          (focus)="onClientFocus()"
        />
        <mat-icon matPrefix>person</mat-icon>
        <mat-icon *ngIf="isLoadingClients" matSuffix>
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        <button
          *ngIf="
            clientFilterControl.enabled &&
            clientFilterControl.value &&
            !isLoadingClients
          "
          matSuffix
          mat-icon-button
          type="button"
          (click)="clearClientSelection()"
          [matTooltip]="'invoice.common.clear_selection' | translate"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete
          #clientAuto="matAutocomplete"
          [displayWith]="displayClient"
          (optionSelected)="onClientSelected($event)"
        >
          <mat-option *ngFor="let client of filteredClients" [value]="client">
            <div
              class="flex justify-between items-center w-full font-medium text-xs md:text-base"
            >
              <span class="text-right">
                <span
                  >{{ client.firstName || 'N/A' }}
                  {{ client.lastName || 'N/A' }}</span
                >
                <span *ngIf="client.identificationNumber">
                  - {{ client.identificationNumber }}</span
                >
                <span
                  [ngClass]="
                    client.isActive ? 'text-green-600' : 'text-red-600'
                  "
                >
                  -
                  {{
                    client.isActive
                      ? ('invoice.common.active' | translate)
                      : ('invoice.common.inactive' | translate)
                  }}
                </span>
              </span>
            </div>
          </mat-option>
          <mat-option *ngIf="showNoResultsMessage" disabled>
            <span class="text-gray-500">{{
              'invoice.common.no_results_clients' | translate
            }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('userId')?.hasError('required')">
          {{ 'invoice.dialog.client_required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.electronic' | translate }}</mat-label>
        <mat-select formControlName="invoiceElectronic" required>
          <mat-option [value]="true">{{
            'invoice.common.yes' | translate
          }}</mat-option>
          <mat-option [value]="false">{{
            'invoice.common.no' | translate
          }}</mat-option>
        </mat-select>
        <mat-icon matPrefix>bolt</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.pay_type' | translate }}</mat-label>
        <mat-select formControlName="payTypeId" required>
          <mat-option *ngFor="let type of payTypes" [value]="type.payTypeId">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>credit_card</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.paid_status' | translate }}</mat-label>
        <mat-select formControlName="paidTypeId" required>
          <mat-option *ngFor="let type of paidTypes" [value]="type.paidTypeId">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>monetization_on</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.cash' | translate }}</mat-label>
        <input
          matInput
          formControlName="cash"
          appCurrencyFormat
          class="text-right"
        />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.transfer' | translate }}</mat-label>
        <input
          matInput
          formControlName="transfer"
          appCurrencyFormat
          class="text-right"
        />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-full"
        *ngIf="invoice?.tableNumber"
      >
        <mat-label>{{ 'invoice.dialog.order_status' | translate }}</mat-label>
        <mat-select formControlName="stateTypeId" required>
          <mat-option
            *ngFor="let state of stateTypes"
            [value]="state.stateTypeId"
          >
            {{ state.name }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>assignment_turned_in</mat-icon>
        <mat-error *ngIf="form.get('stateTypeId')?.hasError('required')">
          {{ 'invoice.dialog.status_required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'invoice.dialog.observations' | translate }}</mat-label>
        <textarea
          matInput
          formControlName="observations"
          rows="3"
          #descTextarea
          maxlength="500"
          appUppercase
        ></textarea>
        <mat-icon matPrefix>notes</mat-icon>
        <mat-hint align="end">
          {{ observationsLength
          }}{{ 'invoice.dialog.chars_limit' | translate }}</mat-hint
        >
      </mat-form-field>
    } @else {
      <app-loader></app-loader>
    }
  </form>

  <section
    actions
    class="flex flex-col-reverse md:flex-row justify-end gap-3 mt:0 md:mt-8 border-t border-emerald-50 w-full"
  >
    <div class="w-full flex content-between md:w-[50%]">
      <button
        class="!w-full"
        mat-fab
        extended="true"
        color="warn"
        (click)="cancel()"
      >
        {{ 'invoice.common.cancel' | translate }}
      </button>
    </div>

    <div class="w-full flex content-between md:w-[50%]">
      <button
        mat-fab
        extended
        color="primary"
        type="button"
        class="mt-2 md:mt-0 !w-full"
        (click)="save()"
        [disabled]="form.invalid || isLoading"
      >
        {{
          data.editMode
            ? ('invoice.dialog.save_btn' | translate)
            : ('invoice.dialog.create_btn' | translate)
        }}
      </button>
    </div>
  </section>
</app-base-dialog>
