<app-section-header
  [title]="isEditMode ? 'Editar producto' : 'Crear producto'"
  [subtitle]="
    isEditMode
      ? 'Edita los campos que desees'
      : 'Aquí puedes crear productos con sus respectivas categorías'
  "
></app-section-header>
<form [formGroup]="productForm" class="flex flex-col">
  <div class="flex flex-col md:flex-row gap-x-10 gap-y-[25px] md:gap-y-0">
    <section class="flex flex-col w-full md:w-[50%] gap-[25px] md:gap-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoryTypeId" required>
          <mat-option value="" disabled selected
            >Seleccione la categoría</mat-option
          >
          <mat-option
            *ngFor="let category of visibleCategoryTypes"
            [value]="category.categoryTypeId"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>category</mat-icon>
        <mat-error
          *ngIf="productForm.get('categoryTypeId')?.hasError('required')"
        >
          Categoría requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Código del producto</mat-label>
        <mat-icon matPrefix>qr_code</mat-icon>
        <input matInput formControlName="code" required appUppercase />
        <mat-error *ngIf="productForm.get('code')?.hasError('required')">
          Código del producto requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre del producto</mat-label>
        <mat-icon matPrefix>inventory</mat-icon>
        <input matInput formControlName="name" required appUppercase />
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">
          Nombre del producto requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Unidades</mat-label>
        <input
          matInput
          type="number"
          step="0.01"
          min="0"
          formControlName="amount"
        />
        <mat-icon matSuffix>numbers</mat-icon>
      </mat-form-field>
    </section>
    <section class="flex flex-col w-full md:w-[50%] gap-[25px] md:gap-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Precio de compra</mat-label>
        <input
          matInput
          formControlName="priceBuy"
          appCurrencyFormat
          class="text-right"
        />
        <mat-icon matSuffix>shopping_cart </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Precio de venta</mat-label>
        <input
          matInput
          class="text-right"
          formControlName="priceSale"
          appCurrencyFormat
        />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Unidad de medida</mat-label>
        <mat-select formControlName="unitOfMeasureId">
          <mat-option
            *ngFor="let unit of unitOfMeasureTypes"
            [value]="unit.unitOfMeasureId"
          >
            {{ unit.name }} ({{ unit.code }})
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>straighten</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="isActive">
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>
  <section class="w-full mt-4 mb-4">
    <app-image-uploader
      #imageUploader
      [entityId]="productId"
      entityType="product"
      [initialImages]="productImages"
      [isLoading]="isLoadingImages"
      (imagesChanged)="productImages = $event"
    ></app-image-uploader>
  </section>
  <div
    class="flex flex-col-reverse md:flex-row justify-end gap-3 mt-8 pt-6 border-t border-emerald-50 w-full"
  >
    @if (isEditMode) {
      <button
        mat-fab
        extended="true"
        color="warn"
        type="button"
        (click)="resetForm()"
        class="w-full md:w-auto"
      >
        Cancelar
      </button>
    }
    <button
      mat-fab
      extended
      color="primary"
      type="button"
      class="mt-2 md:mt-0"
      (click)="save()"
    >
      <mat-icon>{{ isEditMode ? 'save' : 'add_circle' }}</mat-icon>
      {{ isEditMode ? 'Guardar cambios' : 'Crear producto' }}
    </button>
  </div>
</form>
