@use 'variables' as *;

.app-container {
  transition:
    margin-left 0.3s ease,
    width 0.3s ease;
  width: 100%;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  margin-left: 0;

  @media (min-width: 769px) {
    width: calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }
}

.main {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  &.has-mobile-menu {
    @media (max-width: 768px) {
      padding-bottom: calc(75px + env(safe-area-inset-bottom)) !important;
    }
  }
}

.brand-side-bar {
  background-color: $side-bar-background;
}

.brand-content-center {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-content-center {
  min-height: calc(100dvh - $heigth-nav-bar);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  @media (max-width: 768px) {
    padding-block: 10px;
  }
}

.brand-nav-bar {
  width: 100%;
  z-index: 100;
  height: $heigth-nav-bar;
  position: sticky;
  top: 0;

  @media (max-width: 768px) {
    height: 72px;
  }
}

.brand-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  background-color: $footer-background;
  height: $heigth-footer;

  @media (max-width: 768px) {
    height: auto;
  }
}

.font-noto-serif {
  font-family: 'Noto Serif Variable', serif;
}

/* Toast clases */
.toast-container {
  overflow: hidden;
  border-radius: 16px !important;
  &.ngx-toastr {
    pointer-events: auto;
    position: fixed;
    z-index: 9999;
    width: auto;
    max-width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    animation: slideInRight 0.2s ease-in forwards;

    .toast-icon {
      font-size: 1.5rem;
      position: absolute;
      top: 8px;
      left: 10px;
    }

    .toast-body {
      display: flex;
      flex-direction: column;
      // margin-left: 40px;
      border-radius: 16px;

      .toast-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .toast-message {
        font-size: 0.95rem;
      }
    }

    .toast-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: transparent;
    }

    &.brand-toast-success {
      border: 1px solid $toast-success-border;
      color: $toast-success-color;

      .toast-progress {
        background-color: $toast-success-border;
      }
    }

    &.brand-toast-warning {
      border: 1px solid $toast-warning-border;
      color: $toast-warning-color;

      .toast-progress {
        background-color: $toast-warning-border;
      }
    }

    &.brand-toast-error {
      border: 1px solid $toast-error-border;
      color: $toast-error-color;

      .toast-progress {
        background-color: $toast-error-border;
      }
    }

    &.brand-toast-info {
      border: 1px solid $toast-info-border;
      color: $toast-info-color;

      .toast-progress {
        background-color: $toast-info-border;
      }
    }
  }
}

.brand-text-headline-color {
  @apply text-transparent bg-gradient-to-r from-green-400 to-[var(--primary-color)] bg-clip-text;
}

.right-text {
  text-align: right !important;
}

.center-text {
  text-align: center !important;
}

.mat-mdc-form-field-error {
  font-size: 12px !important;
}

::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
  display: block !important;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border: 2px solid #f1f1f1 !important;
  min-height: 60px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #047d03 !important;
}

::-webkit-scrollbar-button {
  display: block !important;
  background-color: var(--primary-color) !important;
  height: 16px !important;
  width: 16px !important;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1 !important;
}

.main::-webkit-scrollbar {
  width: 16px !important;
}

.main::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  min-height: 60px !important;
  border: 2px solid #f1f1f1 !important;
}

* {
  scrollbar-width: auto !important;
  scrollbar-color: var(--primary-color) #f1f1f1 !important;
}

.red-color {
  color: rgb(255, 27, 27) !important;
}
.green-color {
  color: green !important;
}
.blue-color {
  color: rgb(14, 58, 154) !important;
}
