@use '@angular/material' as mat;
@use 'variables' as *;
$error-red: #eb2f28;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$brand-palette: (
  50: $mat-green-50,
  100: $mat-green-100,
  200: $mat-green-200,
  300: $mat-green-300,
  400: $mat-green-400,
  500: $mat-green-500,
  600: $mat-green-600,
  700: $mat-green-700,
  800: $mat-green-800,
  900: $error-red,
  A100: $mat-green-A100,
  A200: $mat-green-A200,
  A400: $mat-green-A400,
  A700: $mat-green-A700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$brand-primary: mat.m2-define-palette($brand-palette, 500);
$brand-accent: mat.m2-define-palette($brand-palette, 300);
$brand-warn: mat.m2-define-palette($brand-palette, 900);

$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $brand-primary,
      accent: $brand-accent,
      warn: $brand-warn
    )
  )
);

@include mat.all-component-themes($custom-theme);
