<form [formGroup]="form" class="w-full mt-3">
  <!-- Buscar hospedaje -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Buscar Hospedaje</mat-label>
    <input
      matInput
      formControlName="name"
      [matAutocomplete]="auto"
      placeholder="Ejemplo: Penhouse"
      (focus)="onAccommodationFocus()"
    />
    <mat-icon matPrefix>home</mat-icon>

    <!-- Botón limpiar -->
    <button
      *ngIf="
        form.get('name')?.enabled &&
        form.get('name')?.value &&
        !isLoadingAccommodations
      "
      matSuffix
      mat-icon-button
      type="button"
      (click)="clearAccommodationSelection()"
      matTooltip="Limpiar selección"
    >
      <mat-icon>clear</mat-icon>
    </button>

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayAccommodation"
      (optionSelected)="onAccommodationSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let accommodation of filteredAccommodations"
        [value]="accommodation"
      >
        {{ accommodation.name }}
        <span
          [ngClass]="{
            'text-green-600':
              accommodation.stateType?.name === 'Disponible' ||
              accommodation.stateType?.name === 'DISPONIBLE',
            'text-yellow-600':
              accommodation.stateType?.name === 'Mantenimiento' ||
              accommodation.stateType?.name === 'MANTENIMIENTO',
            'text-red-600':
              accommodation.stateType?.name === 'Fuera de Servicio' ||
              accommodation.stateType?.name === 'FUERA DE SERVICIO',
            'text-blue-600':
              accommodation.stateType?.name === 'Ocupado' ||
              accommodation.stateType?.name === 'OCUPADO'
          }"
        >
          - {{ accommodation.stateType?.name }}
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Precios -->
  <div class="flex flex-col md:flex-row gap-0 md:gap-2">
    <!-- Precio Original -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Precio Unitario</mat-label>
      <input
        matInput
        formControlName="priceSale"
        [readonly]="true"
        class="text-right"
        appCurrencyFormat
      />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>

    <!-- Precio Final Calculado -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Precio Final</mat-label>
      <input
        matInput
        formControlName="finalPrice"
        class="text-right"
        appCurrencyFormat
        [readonly]="true"
      />
      <mat-icon matSuffix>monetization_on</mat-icon>
    </mat-form-field>

    <!-- Cantidad -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Cantidad</mat-label>
      <input
        matInput
        formControlName="amount"
        appCurrencyFormat
        class="text-right"
      />
      <mat-icon matSuffix>numbers</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex flex-col md:flex-row gap-0 md:gap-2">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Mínimo Personas</mat-label>
      <input
        matInput
        formControlName="amountPerson"
        appCurrencyFormat
        class="text-right"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Máximo Personas</mat-label>
      <input
        matInput
        formControlName="amountBathroom"
        appCurrencyFormat
        class="text-right"
      />
      <mat-icon matSuffix>group</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex flex-col md:flex-row gap-0 md:gap-2">
    <!-- Tipo de Descuento -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descuento</mat-label>
      <mat-select formControlName="discountTypeId">
        <mat-option [value]="null">Sin descuento</mat-option>
        <mat-option
          *ngFor="let discount of discountTypes"
          [value]="discount.discountTypeId"
        >
          {{ discount.name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>percent</mat-icon>
    </mat-form-field>

    <!-- Tipo Adicional -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Personas Adicionales</mat-label>
      <mat-select formControlName="additionalTypeId">
        <mat-option [value]="null">Sin adicional</mat-option>
        <mat-option
          *ngFor="let additional of additionalTypes"
          [value]="additional.additionalTypeId"
        >
          {{ additional.code }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>add_circle</mat-icon>
    </mat-form-field>
  </div>

  <!-- Fechas y horas -->
  <div class="flex flex-col md:flex-row gap-0 md:gap-2">
    <!-- Fecha entrada -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Fecha de entrada</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="startDate"
      />
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-datepicker-toggle
        [for]="startDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-icon matPrefix>event</mat-icon>
    </mat-form-field>

    <!-- Hora entrada -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Hora de entrada</mat-label>
      <input
        matInput
        [matTimepicker]="startTimePicker"
        formControlName="startTime"
      />
      <mat-timepicker #startTimePicker format="12h"></mat-timepicker>
      <mat-timepicker-toggle
        [for]="startTimePicker"
        matSuffix
      ></mat-timepicker-toggle>
      <mat-icon matPrefix>access_time</mat-icon>
    </mat-form-field>

    <!-- Fecha salida -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Fecha de salida</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
      />
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-datepicker-toggle
        [for]="endDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-icon matPrefix>event</mat-icon>
    </mat-form-field>

    <!-- Hora salida -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Hora de salida</mat-label>
      <input
        matInput
        [matTimepicker]="endTimePicker"
        formControlName="endTime"
      />
      <mat-timepicker #endTimePicker format="12h"></mat-timepicker>
      <mat-timepicker-toggle
        [for]="endTimePicker"
        matSuffix
      ></mat-timepicker-toggle>
      <mat-icon matPrefix>access_time</mat-icon>
    </mat-form-field>
  </div>

  <!-- Tipo impuesto -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Tipo de impuesto</mat-label>
    <mat-select formControlName="taxeTypeId">
      <mat-option *ngFor="let taxe of taxeTypes" [value]="taxe.taxeTypeId">
        {{ taxe.name }}
      </mat-option>
    </mat-select>
    <mat-icon matPrefix>calculate</mat-icon>
  </mat-form-field>

  <!-- Botón -->
  <button
    class="!w-full !rounded-lg"
    mat-fab
    extended="true"
    [disabled]="isLoading"
    (click)="addAccommodation()"
  >
    <ng-container *ngIf="!isLoading; else loading"> Añadir </ng-container>
    <ng-template #loading>
      <mat-spinner diameter="24" color="accent"></mat-spinner>
    </ng-template>
  </button>
</form>
